<html>
    <body>
        <form action="/questionpaper" method="get">
            
            <input type="number" id="questioncount" name="questioncount" value="3"><br><br>
            <input type="submit" value="Submit">
        </form>
        <!-- <form action="/questionpaper?prevPaper=yes&paperNo=1" method="get">
            <input type="number" id="questioncount" name="questioncount" value="3"><br><br>
            <input type="submit" value="Submit">
        </form> -->
    </body>
</html>